@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Sigmar&display=swap');

:root {
    --primary-color: #023047;
    --secondary-color: #FFB703;
    --accent1-color: #8ECAE6;
    --accent2-color: #FB8500;

    --heading-font: Sigmar, 'Cooper Black';
    --paragraph-font: 'Josefin Sans', sans-serif;

    --nav-background-color: #FFB703;
    --nav-link-color: #023047;
    --nav-hover-link-color: #8ECAE6;
    --nav-hover-background-color: #FB8500;
}

main {
    max-width: 960px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

section p{
    text-align: left;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    position: relative;
    height: 150px;
    text-align: center;
}

p {
    padding: 25px;
}

header nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

footer {
    background-color: var(--nav-background-color);
    display: block;
    position: relative;
    text-align: center;
}

.sociallinks img{ 
    width: 50px;
    height: auto;
    float: right;
    padding: 5px;   
}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

header nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

header img {
    width: 200px;
    float: left;
    padding: 5px;
}

header nav {
    text-align: center;
    margin-top: 50px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    top: 90px;
    left: 110px;
    max-width: 700px;
    margin: 0;
    padding: 10px;
}

.hero article p {
    background-color: rgba(75, 127, 187, 0.651);
    margin: 0;
    padding: 20px;
}
.hero article img {
    width: 175px;
    float: right;
    padding: 20px;
}

.hero h1 {
    width: 960px;
    text-align: center;
    top: 5px;
    position: absolute;
    background-color: rgba(93, 130, 172, 0.656);
}
